@import url("../Bayyinha Dialog og kultursenter/styles/global.css");

h1, h4 {
    font-family: "verdana", "calibri";
}

h1 {
    font-size: 25px;
    color: var(--dark-blue)
}

.image-container {
    width: 100%;
    max-height: 70vh;
    overflow: hidden;
}

.text-container {
    width: 40vw;
    min-width: 600px;
    margin: auto;
}

.description-container span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.description-container {
    margin-bottom: 3vw;
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
}

p, span {
    color: rgb(59, 59, 59);
}

h4 {
    margin: 0px;
    font-size: 20px;
    font-weight: 300;
    color: var(--dark-blue)
}

/*Video styling*/

.video-container {
    margin: 5vh 0vh 5vh 0vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container p {
    text-align: center;
    color: rgb(134, 134, 134);
}

video {
    width: 50%;
    min-width: 600px;
    height: auto;
}

#video-text {
    margin-top: 10vh;
}


/*Image reel styling*/

h3 {
    font-size: 30px;
    color: gray;
    margin-bottom: 5vh;
}

.main-reel-container i {
    display: none;
    font-family: "calibri";
    font-size: 12px;
    color: gray;
}

.main-reel-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.main-reel-container span {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image-reel-container, .main-reel-container {
    width: 50vw;
    max-width: 700px;
    min-width: 500px;
}

.image-reel-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: auto;
    scroll-snap-type: x mandatory;
}
.image-reel-container img{
    height: auto;
    width: 100%;
}

.image-reel-container p {
    background-color: rgb(128, 128, 128, 0.8);
    color: white;
    margin: 0px;
    padding: 2px;
}

.image-reel-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    scroll-snap-align: center;
}

.image-reel-container::-webkit-scrollbar {
    display: none;
  }
  

  .image-reel-container {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }


.main-reel-container span{
    position: relative;
    bottom: 50vh;
}

button{
    background-image: url("/icons/chevron-right-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    width: 7vw;
    max-width: 70px;
    height: 10vw;
    max-height: 70px;
    background-color: white;
    cursor: pointer;
    filter: invert(24%) sepia(17%) saturate(0%) hue-rotate(161deg) brightness(100%) contrast(72%);
  }

button:hover {
    transform: scale(1.2,1.2);
  }

  #slide-left {
        transform: rotate(180deg);  
    }

#slide-left:hover {
    transform: scale(1.2,1.2) rotate(180deg);
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px!important;
        margin-bottom: 6vh!important;
    }
    header {
        height: 14vh!important;
    }
    .text-container {
        min-width: 100%;
    }
    span {
        font-size: 12px;
    }
    .image-reel-container {
        width: 100% !important;
        min-width: 100%;
        height: 50vh;
    }
    .main-reel-container {
        width: 100% !important;
        min-width: 100%;
        height: auto;
    }
    .main-reel-container span{
        display: none;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .main-reel-container i {
        display: flex;
    }
    video {
        width: 100%;
        min-width: 100%;
    }
 }