@import url("../Bayyinha Dialog og kultursenter/styles/global.css");

body, nav {
    background-color: white;
}

main {
    height: auto;
}

h2, .newscard span, .newscard a {
    font-family: "calibri";
}

header {
    background-image: url("/images/stock-photos/pexels-andres-ayrton-6551313.jpg");
    height: 60vh;
    background-position-y: center;
}

.header-text {
    font-size: 60px;
    font-family: 'Microsoft Himalaya';
    font-weight: 300;
    position: absolute;
    top: 20vh;
    right: 20px;
    color: white;
}

h1 {
    color: var(--dark-blue);
    font-size: 40px;
    margin-bottom: 5vw;
}

h2 {
    color: var(--dark-blue);
    font-size: 30px;
}

nav div a:hover {
    color: white;
}

#nav-one {
    background-color: var(--dark-blue);
    color: white;
}

#nav-two:hover {
    background-color: var(--dark-blue);
}

#nav-three:hover {
    background-color: var(--blue-green);
}

#nav-four:hover {
    background-color: var(--dark-green);
}

main  {
    margin: auto;
    width: 80vw;
    max-width: 900px;
}

.newscard img {
    width: 100%;
    height: auto;
}

.newscard {
    margin-bottom: 5vw;
}

.newscard span, .newscard div a {
    color: gray;
    font-size: 20px;
}

.newscard a h2:hover {
    color: gray;
}

.newscard div {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

footer td, footer p, footer h3{
    color: var(--dark-blue)
}

@media only screen and (max-width: 600px) {
   .newscard h2 {
       font-size: 20px!important;
   }
   .newscard span, .newscard div a {
    font-size: 15px;

    }
    h1 {
        font-size: 30px;
    }
    header {
        background-size: 100%;
        height: 60vh;
    }
    .header-text {
        top: 10vh;
        font-size: 25px;
    }
    
}